<igx-navbar class="top-navigation">
  <igx-navbar-title class="navbar-content">
    <div [routerLink]="[`/aura-house-home`]" class="row-layout brand">
      <igx-icon class="brand-icon">
        offline_bolt
      </igx-icon>
      <h6 class="brand-title">
        Aura House
      </h6>
    </div>
    <button igxButton="flat" type="button" class="how-it-works">
      How it Works
    </button>
    <button igxButton="flat" type="button" class="how-it-works">
      Features
    </button>
    <button igxButton="flat" type="button" class="how-it-works">
      Pricing
    </button>
    <button igxButton="flat" type="button" class="how-it-works">
      FAQ
    </button>
  </igx-navbar-title>
  <button igxIconButton="flat" class="search">
    <igx-icon class="icon">
      search
    </igx-icon>
  </button>
  <button igxButton="contained" type="button" [routerLink]="[`/register-page`]" class="how-it-works">
    Sign Up
  </button>
  <button igxButton="flat" type="button" [routerLink]="[`/login-page`]" class="how-it-works">
    Login
  </button>
</igx-navbar>
<div class="main-container">
  <router-outlet></router-outlet>
</div>
